* {
  border: 0px solid;
  margin: 0;
  padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font size: 20px;
	color: #222222;
	line-height: 1.3;
	background-image: url("../images/Background.jpg");
	background-size: cover;
}

header {
	padding: 20px;
}

h1, h2, h3 {
	color: #002a4c;
}

a {
	color: #00345e;
	text-decoration: none;
}

nav a {
	color: #00345e;
	font-style: italic;
	margin-right: 25px;
}

main, h2, h3, h5 {
	padding: 20px
}

h4 {
	margin: 30px 0;
}

img, ul, ol, h2 {
	margin-left: 25px;
}

h2 {
	padding-left: 5px
}

h1 {
	display:inline-block;
	margin-right:10px;
} 

nav {
	display:inline-block; 
	float: right;
	padding: 35px;
} 

footer p {
	font-size: 10px;
	text-align: center;
}

h4 {
	text-align: center;
	font-style: italic;
	font-size: 20px;
}

#slogan {
	font-style: italic;
	font-size: 18px
}